<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Add product</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Manage</a></li>
            <li class="breadcrumb-item active" aria-current="page">add product</li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" routerLink="/mg/products" class="btn btn-primary my-2 btn-icon-text">
                <i class="fe fe-list"></i> Product list
            </button>
        </div>
    </div>
</div>
<!-- End Page Header -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Add new product</h6>
                    <p class="text-muted card-sub-title">Fill the form below to add a new product.</p>
                </div>
                <form [formGroup]="productForm">
                    <div class="">
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-2">
                                <label class="mg-b-0">Name</label>
                            </div>
                            <div class="col-md-6 mg-t-5 mg-md-t-0">
                                <input class="form-control" formControlName="name"  placeholder="name" type="text">
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-2">
                                <label class="mg-b-0">Description</label>
                            </div>
                            <div class="col-md-6 mg-t-5 mg-md-t-0">
                                <textarea class="form-control" formControlName="description" placeholder="description" type="text"></textarea>
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-2">
                                <label class="mg-b-0">Cost price</label>
                            </div>
                            <div class="col-md-6 mg-t-5 mg-md-t-0">
                                <input class="form-control" formControlName="cost_price" placeholder="cost price" type="email">
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-2">
                                <label class="mg-b-0">Selling price</label>
                            </div>
                            <div class="col-md-6 mg-t-5 mg-md-t-0">
                                <input class="form-control" formControlName="selling_price" placeholder="selling price" type="email">
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-2">
                                <label class="mg-b-0"> Category</label>
                            </div>
                            <div class="col-md-6 mg-t-5 mg-md-t-0">
                                <ng-select class="form-control" formControlName="category_id" placeholder="category">
                                    <ng-container *ngFor="let category of categories">
                                        <ng-option value="{{category.id}}">{{category.name}}</ng-option>
                                    </ng-container>
                                    
                                </ng-select>
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-2">
                                <label class="mg-b-0">Barcode</label>
                            </div>
                            <div class="col-md-6 mg-t-5 mg-md-t-0">
                                <input class="form-control" formControlName="barcode" placeholder="barcode" type="text">
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-2">
                                <label class="mg-b-0">Supplier</label>
                            </div>
                            <div class="col-md-6 mg-t-5 mg-md-t-0">
                                <ng-select class="form-control" formControlName="supplier_id" placeholder="supplier" type="text">
                                    <ng-container *ngFor="let supplier of suppliers">
                                        <ng-option value="{{supplier.id}}">{{supplier.name}}</ng-option>
                                    </ng-container>
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group row justify-content-end">
                            <div class="col-md-10 pl-md-2">
                                <div class="form-group mb-0">
                                    <label class="ckbox">
                                        <input type="checkbox" formControlName="is_variable_price">
                                        <span class="tx-13">Mark here to enable price change on till</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-2">
                                <label class="mg-b-0">Brand</label>
                            </div>
                            <div class="col-md-6 mg-t-5 mg-md-t-0">
                                <ng-select class="form-control" formControlName="brand_id" placeholder="brand" type="text">
                                    <ng-container *ngFor="let brand of brands">
                                        <ng-option value="{{brand.id}}">{{brand.name}}</ng-option>
                                    </ng-container>
                                </ng-select>
                            </div>
                        </div>

                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-2">
                                <label class="mg-b-0">Tax</label>
                            </div>
                            <div class="col-md-6 mg-t-5 mg-md-t-0">
                                <input class="form-control" formControlName="tax" placeholder="tax" type="text">
                            </div>
                        </div>

                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-2">
                                <label class="mg-b-0">Tag</label>
                            </div>
                            <div class="col-md-6 mg-t-5 mg-md-t-0">
                                <ng-select class="form-control" formControlName="tag_id" placeholder="tag">
                                    <ng-option value="1">Tag 1</ng-option>
                                    <ng-option value="2">Tag 2</ng-option>
                                    <ng-option value="3">Tag 3</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        
                        <div class="form-group row justify-content-end mb-0">
                            <div class="col-md-10 pl-md-2">
                                <button class="btn ripple btn-primary mr-1" (click)="onSubmit(successmodal,warningmodal)" type="button">
                                    <span aria-hidden="true" *ngIf="loading"
                                        class="spinner-border spinner-border-sm" role="status">
                                    </span> 
                                    <span class="sr-only">Loading...</span> {{buttonText}}
                                </button>
                            </div>
                        </div>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<ng-template #successmodal let-modal>
    <!-- Congratulations MODAL -->
    <div class="modal-body text-center p-4">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <i class="icon ion-ios-checkmark-circle-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
        <h4 class="tx-success tx-semibold mg-b-20">Success!</h4>
        <p class="mg-b-20 mg-x-20">The product as been added successfully.</p>
        <button type="button" class="btn btn-success pd-x-25 mr-0"
            (click)="modal.close('Close click')">Continue</button>
    </div>
</ng-template>

<ng-template #warningmodal let-modal>
    <!-- Warning MODAL -->
    <div class="modal-body text-center p-4">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <i class="icon icon ion-ios-close-circle-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
        <h4 class="tx-danger mg-b-20">Error: Failed to add product!</h4>
        <p class="mg-b-20 mg-x-20">There was an error response while trying to add the product, please try again.</p>
        <button type="button" class="btn btn-danger pd-x-25 mr-0" (click)="modal.close('Close click')">Continue</button>
    </div>
</ng-template>


