<div class="row">
    <div class="top-bar">
      <div class="form-bar">
        <form class="form-inline" action="/action_page.php">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <span (click)="signout()"><i class="fa fa-sign-out icon-signout"></i></span>
        </form>
        
      </div>

      <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
           <i class="fa fa-bars fa-border bar-icon"></i>
      </div>
    </div>
</div>