.trans-content{
    margin-left: 100px;
    margin-right: 100px;
}

.tab-content{
    color: white
}

.colap-body{
    margin-top: 10px;
    width: 100%;
    background-color: white;
}

.colap-heading{
    padding: 12px;
    height: 50px;
    width: 100%;
    background-color: grey;
    cursor: pointer;
}

.colap-content{
    color: #000;
    padding: 3px;
}

.held-basket{
    padding: 15px;
}

.held-basket-action{
    float: right;
    margin-right: 20px;
}

.spacer{
    margin-left: 10px;
}