<div class="trans-content">
    <div class="tab-content" >
      <div class="tab-pane fade in active colap-body" id="home">
        <div class="colap-heading" data-toggle="collapse" data-target="#demo">Show Completed Transaction</div>
        <div id="demo" class="collapse colap-content">
            <div class="row held-basket">
                <div class="col-lg-6">Product name</div>
                <div class="col-lg-3">10</div>
                <div class="col-lg-3">₦2,000</div>
            </div>
            <div class="row held-basket">
                <div class="col-lg-6"></div>
                <div class="col-lg-3"><h4><b>Total</b></h4></div>
                <div class="col-lg-3"><h4><b>₦12,000</b></h4></div>
                <div class="col-lg-offset-9">
                    <button type="button" class="btn btn-danger spacer">Delete</button>
                    <button type="button" class="btn btn-primary spacer">Unhold</button>
                </div>
            </div>
            
        </div>
        </div>
    </div>
</div> 