
nav{
    border-radius: 0px;
  }
  
  .info-container{
    height: 100px;
    width: 180px;
    display: inline-block;
    
    margin: 6px;
    text-justify: auto;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
  }
  
  .info-price{
    position: absolute;
    bottom: 5px;
  }
  
  .form-bar{
    float: right;
  }
  
  /*Sale Box Start*/
  
  
  
  
  .top-bar{
    width: 100%;
    height: 45px;
    padding-left: 25px;
    padding-top: 3px;
    background-color: #120661;
  }
  
  .sub-top-bar{
    width: 100%;
    height: 30px;
    justify-content: center;
  }
  
  .bar-icon{
    color:white;
  }
  
  
  
  .small-box{
    height: 50px;
    width: 50px;
    background-color: darkblue;
    
  }
  
  
  /*Sale Box End*/
  
  .center-text{
    text-align: center;
    padding: 12px;
  }
  
  .top-nav{
    border-bottom-style: solid;
    border-width: 1px;
    border-color: grey;
  }
  
  /*Left bar Start*/
  
  .left-bar{
    border-right-style: solid;
    border-width: 1px;
    height: 93vh;
    position: fixed; /* Stay in place */
    z-index: 1;
    background-color: #fdfdff;
  }
  
  .nav-val{
    color: white;
  }
  
    /*Left Bar End*/
    .vl {
      border-left: 1px solid grey;
      height: 30px;
      margin-top: 10px;
    }
  
   
  